<section id="shellcode_detect">
    <div class="section-title">
        <h4>Shellcode Detection</h4>
    </div>
    {% if results.scd and results.scd.has_shellcode %}
        <table class="table table-striped table-bordered">
            <tr><th>File Name</th><th>Engine Cli Output</th><th>Engine Cli After Jesus</th><th>Engine Cli Hex Data</th></tr> 
            {% for res in results.scd.outputs %}
                <tr>
                    <td>{{ res.file_name }}</td>
                    <td>{{ res.engine_cli_output }}</td>
                    <td>{{ res.engine_cli_after_jesus_output }}</td>
                    <td>{{ res.engine_cli_hexdata }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        Nothing to display.
    {% endif %}
</section>
